body {

  background: linear-gradient(to right, orange, black);
  padding: 0;
  
  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .login-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 300px;
    height: 200px;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;;
    margin: auto;
  }
  
  .form-group{
    margin: 10px;
  }
  
  label {
    padding-right: 10px;
  }
  
  input {
    border-radius: 5px;
  }
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
  }
